/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
        font-family: Poppins, sans-serif;
}

html, body {
        /* overflow: hidden; */
        margin: 0;
        padding: 0;
    }

body {
        text-align: center;
    }

h2 {
        margin: 0;
        font-style: italic;
    }

*, ::before, ::after{
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        --tw-pan-x:  ;
        --tw-pan-y:  ;
        --tw-pinch-zoom:  ;
        --tw-scroll-snap-strictness: proximity;
        --tw-ordinal:  ;
        --tw-slashed-zero:  ;
        --tw-numeric-figure:  ;
        --tw-numeric-spacing:  ;
        --tw-numeric-fraction:  ;
        --tw-ring-inset:  ;
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgb(59 130 246 / 0.5);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        --tw-shadow: 0 0 #0000;
        --tw-shadow-colored: 0 0 #0000;
        --tw-blur:  ;
        --tw-brightness:  ;
        --tw-contrast:  ;
        --tw-grayscale:  ;
        --tw-hue-rotate:  ;
        --tw-invert:  ;
        --tw-saturate:  ;
        --tw-sepia:  ;
        --tw-drop-shadow:  ;
        --tw-backdrop-blur:  ;
        --tw-backdrop-brightness:  ;
        --tw-backdrop-contrast:  ;
        --tw-backdrop-grayscale:  ;
        --tw-backdrop-hue-rotate:  ;
        --tw-backdrop-invert:  ;
        --tw-backdrop-opacity:  ;
        --tw-backdrop-saturate:  ;
        --tw-backdrop-sepia:  ;
}
.primary-btn{
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-transform: uppercase;
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
        background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
        border: none;
        border-radius: 30px;
}
.secondary-btn{
        margin: 0.25rem;
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        text-transform: uppercase;
        --tw-text-opacity: 1;
        color: rgb(75 85 99 / var(--tw-text-opacity));
        padding: 12px 30px;
        border-radius: 30px;
        border: solid 2px rgb(121, 119, 119);
}
.primary-btn:hover {
        background: linear-gradient(260deg, rgb(254, 48, 114), rgb(255, 89, 64))
    }
.secondary-btn:hover {
        color: rgb(48, 48, 48);
        border: solid 2px rgb(48, 48, 48);
    }
/* Nav */
nav .nav-btn {
        color: rgb(254, 48, 114);
        background-color: rgb(255, 255,255);
        padding: 0 20px;
        border-radius: 10px;
        border: none;
        margin-right: 0.5rem;
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
        --tw-text-opacity: 1;
        color: rgb(219 39 119 / var(--tw-text-opacity))}
/* Home */
.overlay {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(
            to bottom, 
            rgba(0, 0, 0, 0.65) 0%,
            rgba(0, 0, 0, 0) 100%
        ), url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
/* AuthModal */
.auth-modal{
        position: absolute;
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        padding: 2.5rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 100px;
        width: 360px;
        height: 600px;
        border-radius: 10px;
}
.auth-modal input[type=password], .auth-modal input[type=email]{
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: 1rem;
        line-height: 1.5rem;
}
/* Onboarding */
.onboarding form input::-webkit-outer-spin-button,
    .onboarding form input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
.onboarding {
        border-top: solid 1px rgb(154, 154, 154);
    }
.onboarding form input {
        padding: 15px 30px;
        margin: 10px 0;
        font-size: 15px;
        border: solid 2px rgb(219, 219, 219);
        border-radius: 10px;
    }
.onboarding form .flex-row input {
        margin-right: 10px;
    }
.onboarding form .flex-row label {
        padding: 10px;
        border: solid 2px rgb(144, 144, 144);
        border-radius: 10px;
        transition: all 0.3;
        margin-right: 10px;
    }
.onboarding form input[type='radio'] {
        display: none;
    }
.onboarding form input[type='radio']:checked + label {
        border: solid 2px rgb(221, 39, 22);
    }
.onboarding form input[type='submit']:hover {
        background-color: rgb(235, 235, 235)
    }
.onboarding form input[type='submit']:active {
        background-color: rgb(226, 115, 155);
    }
.onboarding form input[type='number'] {
        width: 10%;
    }
/* Dashboard */
.dashboard {
        display: flex;
    }
.dashboard .swipe-container {
        width: 70%;
        display: flex;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
.swipe {
        position: absolute;
    }
.dashboard .card-container{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 650px;
}
.card {
        width: 400px;
        height: 650px;
        box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.30);
        border-radius: 30px;
        background-size: cover;
        background-position: center;
    }
/* ChatContainer */
.chat-container {
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 8px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        width: 25%;
        text-align: left;
        z-index: 1;
    }
.chat-container .chat-container-header {
        background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
.chat-container .option {
        border: none;
        border-bottom: solid 4px rgb(243, 33, 33);
        margin: 0.75rem;
        margin-top: 0px;
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        padding: 0.5rem;
        font-size: 15px;
        font-weight: bold;
    }
.chat-container .option:disabled {
        border-bottom: solid 4px rgb(187, 187, 187);
    }
.chat-container .img-container{
        margin-right: 0.5rem;
        height: 2.5rem;
        width: 2.5rem;
        overflow: hidden;
        border-radius: 50%;
}
.chat-container-header .img-container img {
        width: 100%;
    }
.chat-container .chat-container-header .logout {
        color: #fff;
        font-size: 0.9rem;
        margin-right: 20px;
    }
/* Chat Display */
.chat-display{
        padding: 1.25rem;
        height: 55vh;
}
.absolute{
        position: absolute;
}
.bottom-0{
        bottom: 0px;
}
.float-right{
        float: right;
}
.m-3{
        margin: 0.75rem;
}
.mt-5{
        margin-top: 1.25rem;
}
.mb-2{
        margin-bottom: 0.5rem;
}
.ml-4{
        margin-left: 1rem;
}
.ml-5{
        margin-left: 1.25rem;
}
.mb-3{
        margin-bottom: 0.75rem;
}
.mt-32{
        margin-top: 8rem;
}
.mt-6{
        margin-top: 1.5rem;
}
.mt-3{
        margin-top: 0.75rem;
}
.flex{
        display: flex;
}
.w-full{
        width: 100%;
}
.w-40{
        width: 10rem;
}
.flex-row{
        flex-direction: row;
}
.flex-col{
        flex-direction: column;
}
.items-center{
        align-items: center;
}
.justify-center{
        justify-content: center;
}
.justify-between{
        justify-content: space-between;
}
.p-5{
        padding: 1.25rem;
}
.pl-5{
        padding-left: 1.25rem;
}
.pt-3{
        padding-top: 0.75rem;
}
.text-left{
        text-align: left;
}
.text-3xl{
        font-size: 1.875rem;
        line-height: 2.25rem;
}
.font-black{
        font-weight: 900;
}
.font-extrabold{
        font-weight: 800;
}
.text-white{
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
}
.filter{
        filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}
