/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply font-Poppins
    }

    html, body {
        /* overflow: hidden; */
        margin: 0;
        padding: 0;
    }   

    body {
        text-align: center;
    }
    
    h2 {
        margin: 0;
        font-style: italic;
    }
}

@layer components {
    .primary-btn {
        @apply text-white uppercase text-sm pt-3 pb-3 pl-8 pr-8;
        background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
        border: none;
        border-radius: 30px;
    }

    .secondary-btn {
        @apply text-gray-600 bg-white font-medium text-sm uppercase m-1;
        padding: 12px 30px;
        border-radius: 30px;
        border: solid 2px rgb(121, 119, 119);
    }

    .primary-btn:hover {
        background: linear-gradient(260deg, rgb(254, 48, 114), rgb(255, 89, 64))
    }

    .secondary-btn:hover {
        color: rgb(48, 48, 48);
        border: solid 2px rgb(48, 48, 48);
    }

    /* Nav */
    nav .nav-btn {
        color: rgb(254, 48, 114);
        background-color: rgb(255, 255,255);
        padding: 0 20px;
        border-radius: 10px;
        border: none;
        @apply text-pink-600 text-xl font-bold mr-2
    }

    /* Home */
    
    .overlay {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(
            to bottom, 
            rgba(0, 0, 0, 0.65) 0%,
            rgba(0, 0, 0, 0) 100%
        ), url("../images/background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* AuthModal */
    .auth-modal {
        @apply absolute bg-white p-10;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 100px;
        width: 360px;
        height: 600px;
        border-radius: 10px;
    }

    .auth-modal input[type=password],
    .auth-modal input[type=email] {
        @apply p-2 m-2 text-base;
    }

    /* Onboarding */
    .onboarding form input::-webkit-outer-spin-button,
    .onboarding form input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    .onboarding {
        border-top: solid 1px rgb(154, 154, 154);
    }

    .onaboarding form label {
        margin: 10px 0;
    }

    .onboarding form input {
        padding: 15px 30px;
        margin: 10px 0;
        font-size: 15px;
        border: solid 2px rgb(219, 219, 219);
        border-radius: 10px;
    }

    .onboarding form .flex-row input {
        margin-right: 10px;
    }

    .onboarding form .flex-row label {
        padding: 10px;
        border: solid 2px rgb(144, 144, 144);
        border-radius: 10px;
        transition: all 0.3;
        margin-right: 10px;
    }

    .onboarding form input[type='radio'] {
        display: none;
    }

    .onboarding form input[type='radio']:checked + label {
        border: solid 2px rgb(221, 39, 22);
    }

    .onboarding form input[type='submit']:hover {
        background-color: rgb(235, 235, 235)
    }

    .onboarding form input[type='submit']:active {
        background-color: rgb(226, 115, 155);
    }

    .onboarding form input[type='number'] {
        width: 10%;
    }

    /* Dashboard */

    .dashboard {
        display: flex;
    }

    .dashboard .swipe-container {
        width: 70%;
        @apply flex flex-col justify-center items-center h-screen;
    }

    .swipe {
        position: absolute;
    }
      
    .dashboard .card-container {
        @apply flex flex-col;
        width: 400px;
        height: 650px;
    }
      
    .card {
        width: 400px;
        height: 650px;
        box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.30);
        border-radius: 30px;
        background-size: cover;
        background-position: center;
    }

    /* ChatContainer */
    .chat-container {
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 8px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        width: 25%;
        text-align: left;
        z-index: 1;
    }

    .chat-container .chat-container-header {
        background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .chat-container .option {
        border: none;
        border-bottom: solid 4px rgb(243, 33, 33);
        @apply bg-white m-3 mt-0 p-2;
        font-size: 15px;
        font-weight: bold;
    }

    .chat-container .option:disabled {
        border-bottom: solid 4px rgb(187, 187, 187);
    }

    .img-container {
        @apply h-10 w-10 overflow-hidden mr-2;
        border-radius: 50%;
    }

    .chat-container-header .img-container img {
        width: 100%;
    }

    .chat-container .chat-container-header .logout {
        color: #fff;
        font-size: 0.9rem;
        margin-right: 20px;
        cursor: pointer;
    }


    /* Chat Display */
    .chat-display {
        @apply p-5;
        height: 55vh;
    }

    /* Match Display */
    .match-display {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
        column-gap: 10px;
        row-gap: 10px;
    }
    /* .match-display-card img {
        width: 86.99px;
        height: 120px;
        border-radius: 15px;
    } */
}
